<td width=60%>
  <%= option.content %>
</td>
<td width=10%>
  <%staffs = option.get_list_staff_voted%>
  <%= option.get_sum_score.to_i%>
</td>
<td width=20%>
  <%staffs.each do |staff|%>
    <%= staff.name %>
  <%end%>
</td>
<td width=10%>
  <%if current_staff.voted?(option)%>
    <%= check_box_tag "poll[options][#{index}]", option.id, true %>
  <%else%>
    <%= check_box_tag "poll[options][#{index}]", option.id, false %>
  <%end%>
</td>
