<h1>Author: <%=Staff.find(@poll.staff_id).name%></h1>
<h2><%= @poll.content %></h2>
<% session[:poll_id] = @poll.id%>
<table width=100%>
  <tr>
    <td width=50%>
      Option
    </td>
    <td width=20%>
      score
    </td>
    <td width=30%>
      staff
    </td>
  </tr>
  <%= @options.each do |option| %>
    <tr>
      <%= render option %>
    </tr>
  <% end %>
  <% if @poll.staff_id == current_staff.id%>
    <%= form_tag(option_new) do %>
      <%= submit_tag("Add") %>
    <% end %>
    <%= form_tag(option_new) do %>
      <%= submit_tag("Delete") %>
    <% end %>
  <% end %>
</table>
