<h1>Author: <%=Staff.find(@poll.staff_id).name%></h1>
<h2><%=@poll.content%></h2>
<table width=100%>
  <tr>
    <td width=50%>
      Option
    </td>
    <td width=20%>
      score
    </td>
    <td width=30%>
      staff
    </td>
  </tr>
  <% @options.each do |option| %>
    <tr>
      <td width=50%>
        <%= option.content %>
      </td>
      <td width=10%>
        <%staffs = option.get_list_staff_voted%>
        <%= option.get_sum_score%>
      </td>
      <td width=30%>
        <%staffs.each do |staff|%>
          staff.name
        <%end%>
      </td>
      <td width=10%>
        <%= check_box_tag(option.id) %>
      </td>
    </tr>
  <% end %>

</table>
