<h1>Author: <%=Staff.find(@poll.staff_id).name%></h1>
<h2><%= @poll.content %></h2>
<% session[:poll_id] = @poll.id%>
<%= form_for @poll, url:{action: "update"}, method:"put" do |f|%>
<table width=100%>
  <tr>
    <td width=50%>
      Option
    </td>
    <td width=20%>
      score
    </td>
    <td width=30%>
      staff
    </td>
  </tr>
  <% @options.each_with_index do |option, index| %>
    <tr>
      <%= render option, index: index %>
    </tr>
  <% end %>
</table>
  <%= f.submit "Vote", class: "btn btn-primary"%>
<% end %>
<% if @poll.staff_id == current_staff.id%>
  <%= link_to "Add", new_option_path, class: "btn btn-primary" %>
<% end %>
