<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li>
            <%= link_to "Account", staffs_show_path %>
          </li>
          <li>
            <%= link_to "Settings", staffs_edit_path %>
          </li>
          <li>
            <%= link_to "Log out", logout_path %>
          </li>
        <% else %>
          <li><%= link_to "Log in", "/auth/google_oauth2" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
